{:itonami.blueprint/id "cloud-itonami-2100"
 :itonami.blueprint/name "Community Pharmaceutical Manufacturing"
 :itonami.blueprint/isic-rev5 "2100"
 :itonami.blueprint/domain :pharma/manufacturing
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:health-access :medicine-safety :supply-chain-transparency]
 :itonami.blueprint/governor :pharma-manufacturing-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :cae :cfd]
 :itonami.blueprint/optional-technologies [:optimization :telemetry]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :blueprint}
